[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
ipython = "*"
pytest = "*"
pytest-asyncio = "*"
mock = "*"
flake8 = "*"
more-itertools = "*"
freezegun = "*"

[packages]
python-dateutil = "*"
cryptography = "*"

[requires]
python_version = "3.6"
