[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
ipython = "*"
pytest = "*"
pytest-asyncio = "*"
flake8 = "*"
pyyaml = "*"
wait-for = "*"

[packages]
python-dateutil = "*"
prometheus-client = "*"
aiohttp = "*"

[requires]
python_version = "3.6"
